@font-face{
    font-family: monseregular;
    src: url("/fonts/monserrat/Montserrat-Regular.otf")
}


.tabs{
    width: 100%;
    display: block;
    position: relative;
    font-family: 'monseregular';
    }

.tabs .tab{
    float: left;
    display: block;
    font-size: 13px;
}

.tabs .tab>input[type="radio"] {
    display: none;
}

.tabs .tab>label {
    display: block;
    padding: 6px 20px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #333333;
    background: #ffffff;
}

.tabs .tab>label:hover{
    color: #00d1d1;
    background-color: #ffffff;
}

.tabs .tab>label:active{
    color: #00d1d1;
    background-color: #ffffff;
}

.tabs .content {
    z-index: 0;/* or display: none; */
    overflow: hidden;
    width: 80%;
    padding: 25px;
    position: absolute;
    top: 27px;
    left: 0;
    background: #ffffff;
    color: #303030;
    
    opacity:0;
    transition: opacity 400ms ease-out;
}

.tabs>.tab>[id^="tab"]:checked + label {
    top: 0;
    background: #ffffff;
    color: #00d1d1;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
    z-index: 1;/* or display: block; */
    opacity: 1;
    transition: opacity 2s ease-out;
}

@media only screen and (max-width: 655px){
    .tabs {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
    }

    .tabs .content{
        position: absolute;
        margin-top: 120px;
        background-color: #fff;
    }
}