.image-parent{
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.hover-images{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3%;
    right: 3%;
}


.hover{
    margin-bottom: 5px; 
}