.image-parent{
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
}


.hover-images{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15px;
    right: 15px;
}


.hover{
    margin-bottom: 15px;
}