@font-face{
    font-family: proxy;
    src: url("/fonts/proximanova/Proxima\ Nova\ Bold.ttf")
}

@font-face{
    font-family: monsebold;
    src: url("/fonts/monserrat/Montserrat-Bold.otf")
}

@font-face{
    font-family: monseregular;
    src: url("/fonts/monserrat/Montserrat-Regular.otf")
}

