/*Basic Clases*/

.inline-block{
    display: inline-block;
}

.flex-wrap-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@font-face{
    font-family: proxy;
    src: url("/fonts/proximanova/Proxima\ Nova\ Bold.ttf")
}

@font-face{
    font-family: monsebold;
    src: url("/fonts/monserrat/Montserrat-Bold.otf")
}

@font-face{
    font-family: monseregular;
    src: url("/fonts/monserrat/Montserrat-Regular.otf")
}

@font-face{
    font-family: awesome;
    src: url("/fonts/fontawesome-free-5.5.0-web/webfonts/fa-solid-900.ttf")
}

/*End Of Base Clases*/

body{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.currency{
    font-size: 13px;
    color: #777;
    margin-left: 20%;
}

.login{
    font-size: 13px;
    color: #999999;
    padding: 0px 18px;
    margin-right: 50px;
}

.register{
    font-size: 13px;
    color: #999999;
}

.cart{
    font-size: 13px;
    color: #ffffff;
    background-color: #00d1d1;
    display: inline-block;
    padding: 16px;
}

.topnav{
    background-color: #333;
    width: 100%;
    min-height: 45px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.userArea{
    margin-right: 20%;
}


@media only screen and (max-width: 740px) {
    .userArea{
        margin-right: 10%;
    }

    .currency{
        margin-left: 10%;
    }
}

@media only screen and (max-width: 570px) {
    .userArea{
        margin-right: 5%;
    }

    .currency{
        margin-left: 5%;
    }
}

@media only screen and (max-width: 490px) {
    .userArea{
        margin-right: 1%;
    }

    .currency{
        margin-left: 1%;
    }
}


@media only screen and (max-width: 489px) {
    .topnav{
        justify-content: center;
        flex-direction: column;
    }

    .currency{
        padding: 10px 0px;
        margin-left: 0%;
    }

    .userArea{
        margin-right: 0%;
    }
}


@media only screen and (max-width: 300px) {
    .topnav{
        justify-content: center;
        flex-direction: column;
    }

    .currency{
        padding: 7px 0px;
        margin-left: 0%;
    }

    .userArea{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .login{
        padding-bottom: 5px;
        padding-left: 65px;
    }

    .register{
        text-align: center;
        padding-bottom: 5px;
    }

    .cart{
        font-size: 13px;
        color: #ffffff;
        background-color: #00d1d1;
        display: inline-block;
        padding: 15px 40px;
        text-align: center;
    }
}

.main{
    background-color: #f8f8f8;
    position: relative;
    width: 100%;
    min-width: 240px;
    min-height: 460px;
    z-index: 10;
    display: flex;
}

.slider-image{
    position: absolute;
    background-image: url('imgs/slider-new.png');
    left: 20%;
    height: 460px;
    top: 0px;
    margin: 0;
    padding: 0;
    z-index: 20;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ave-big{
    position: absolute;
    z-index: 30;
    font-size: 250px;
    font-family: 'proxy';
    color: #575153;
    top: 20%;
    left: 15%;
    letter-spacing: 170px;
    text-align: center;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.topbox{
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 40;
    margin-top: 45px;
}

.navlist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-transform: uppercase;
}

.title{
    text-transform: uppercase;
    font-family: 'monsebold';
    font-size: 20px;
}

.title a{
    text-decoration: none;
    color: #222;
}

.spantitle{
    font-family: 'monseregular';
    font-weight: 500;
}

.navanchor a{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    text-decoration: none;
    color: #333;
}

.navanchor a:hover {
    text-decoration: none;
    color: #00d1d1;
}

input[type=text]{
    background-color: #f8f8f8;
    border: 1px solid #a7a7a7;
    font-size: 13px;
}

button[type=submit]{
    background-color: #f8f8f8;
    border: 1px solid #a7a7a7;
}

.button-text{
    text-transform: uppercase;
    color: #737373;
    position: absolute;
    z-index: 75;
    right: 15%;
    bottom: 10%;
    font-size: 15px;
    font-family: 'monse';
    border: 1.2px solid #737373;
    padding: 15px 35px;
    cursor: pointer;
}

.button-text a{
    color: #737373;
    text-decoration: none;
}

@media only screen and (max-width: 1160px){
    .ave-big{
        font-size: 230px;
        top: 22%;
    }
}

@media only screen and (max-width: 1115px){
    .ave-big{
        font-size: 200px;
        top: 24%;
    }
}

@media only screen and (max-width: 1050px){
    .ave-big{
        font-size: 170px;
        top: 26%;
    }
}

@media only screen and (max-width: 980px){
    .search{
        display: none;
    }

    .navigation{
        display: none;
    }

    .title{
        left: 15%;
        padding-right: 50%;
    }

    .ave-big{
        font-size: 140px;
        top: 28%;
    }

    .topbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .responsive-menu, .responsive-menu a{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .menu-dropdown, .fa-bars{
        text-transform: uppercase;
        font-family: 'monse';
        display: flex;
        flex-direction: row;
        padding: 0px 5px;
        color: #333;
        float: right;
    }
}

@media only screen and (min-width: 981px){
    .responsive-menu{
        display: none;
    }
}

@media only screen and (max-width: 913px){
    .ave-big{
        font-size: 120px;
        top: 30%;
    }
}

@media only screen and (max-width: 868px){
    .main{
        position: relative;
    }

    .button-text{
        background-color: #f8f8f8;
    }

    .ave-big{
        font-size: 90px;
        top: 35%;
    }
}

@media only screen and (max-width: 801px){
    .ave-big{
        font-size: 120px;
        top: 35%;
        letter-spacing: 120px;
    }
}

@media only screen and (max-width: 692px){
    .ave-big{
        font-size: 90px;
        top: 28%;
        letter-spacing: 90px;
    }
}